body
{
  padding: 0;
  margin: 0;
  background-color: #282b2d;
}

.middle
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%)
}

.btn
{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #282b2d;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #000000;
  color: #3498db;
  overflow: hidden;
  position: relative;
  border: 1px solid #009933;
  transition: .6s ease;
}

.btn:hover
{
  border: 1px solid #282b2d;
}

.btn img
{
  transition: 0.2s linear;
}

.btn:hover img
{
  transform: scale(1.1);
}

.btn::before
{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #009933;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before
{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa
{
  0%
  {
    left: -110%;
    top: 90%;
  }
  50%
  {
    left: 10%;
    top: -30%;
  }
  100%
  {
    left: -10%;
    top: -10%;
  }
}
